<!-- Botones navegacion -->
<th>
    <button class="btn btn-warning mb-0" (click)="mostrarPerros()"style="width: 200px; height: 50px">{{ ver_peludo }}</button>
    <img align="left" src="./assets/imagenes/logo.jpg" alt="" style="width: 50px; height: 50px" class="rounded-circle" />

</th>
<th>
    <button class="btn btn-primary mb-0" (click)="modificarPeludo()"style="width: 200px; height: 50px">{{ modificar_datos}}</button>

</th>
<th>
    <button class="btn btn-success mb-0" (click)="aniadirPeludo()"style="width: 200px; height: 50px">{{ aniadir_peludo }}</button>

</th>
<th>
    <button class="btn btn-danger mb-0" (click)="quitarPeludo()"style="width: 200px; height: 50px">{{ quitar_peludo }}</button>

</th>
<!-- FIN Botones navegacion -->
<!-- Datos perros -->
<table class="table table-hover align-left mb-0 bg-white" *ngIf="datosPerros == true">
    
    <thead class="bg-black">

        <tr>
            <th>Datos del perrete</th>
            <th>Datos medicos</th>
            <th>
                

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let peludo of datos">
            <td>
                <div class="">
                    <div class="ms-0">
                        <img align="left" src="./assets/imagenes/logo.jpg" alt="" style="width: 200px; height: 200px"
                            class="rounded-circle" />
                        <div align="right" class="ms-1 align-items-center">
                            <p class="">{{peludo.nombre}} - {{peludo.raza}} - {{peludo.donde_esta}}</p>
                            <p class="">Nº de chip: {{peludo.numero_chip}}</p>
                            <p class="">Fecha de nacimiento: {{peludo.fecha_nacimiento}}</p>
                            <p class="" [ngClass]="licencia(peludo.licencia)"> {{peludo.licencia}} necesita licencia
                            </p>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p class=""></p> Castrado <span class=""
                    [ngClass]="castrado(peludo.castrado)">{{peludo.castrado}}</span>
                <p class="fw-normal mb-1"> Fecha desparasitacion: {{peludo.ultima_desparasitacion}}</p>
                <p class="fw-normal mb-1"> Fecha vacuna rabia: {{peludo.vacuna_rabia}}</p>
            </td>
            <td align="left">
                <p  class=""></p> Leishmaniasis <span  class=""
                    [ngClass]="leishmaniasis(peludo.leishmaniasis)"> {{peludo.leishmaniasis}}</span>
                <p class=""></p>Pendiente operar <span class=""
                    [ngClass]="pendienteOperar(peludo.pendiente_operacion)">{{peludo.pendiente_operacion}}</span>
                <p class=""></p> Enfermedades <span class=""
                    [ngClass]="enfermedades(peludo.enfermedades)">{{peludo.enfermedades}}</span>
                <p class=""></p> Tratamiento <span class="" class=""
                    [ngClass]="tratamiento(peludo.tratamiento)">{{peludo.tratamiento}}</span>
            </td>
        </tr>
    </tbody>
</table>
<!-- FIN Datos perros -->

<!-- Formulario modificar datos -->
<form class="table table-hover align-left mb-0 bg-white" *ngIf="form == true">
    <thead class="bg-black">
        <tr>
            <th>Modifica los datos del perrete</th>
            <th>Modifica los datos medicos</th>
            <th><button class="btn btn-danger mb-2" (click)="cerrarFormulario()">Cerrar formulario sin guardar</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <div class="">

                    <label class="description" for="element_1">Nombre </label>
                    <div>

                        <select class="element select medium" id="element_1" name="element_1">
                            <option value="" selected="selected"></option>
                            <option *ngFor="let peludo of datos">{{peludo.nombre}}</option>
                        </select>
                    </div>

                    <label class="description" for="element_2">Raza </label>
                    <div>
                        <input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_3">Chip </label>
                    <div>
                        <input id="element_3" name="element_3" class="element text small" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_4">Ubicación </label>
                    <div>
                        <input id="element_4" name="element_4" class="element text small" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_7">Licencia </label>
                    <div>
                        <div>

                            <select class="element select medium" id="element_7" name="element_7">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </div>
                    </div>
                    <label class="description" for="element_5">Fecha nacimiento (dd/mm/aaaa) </label>
                    <div>
                        <input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255"
                            value="">
                    </div>
                    <label class="description" for="element_10">Foto </label>
                    <form name="subida-imagenes" type="POST" enctype="src\app\assets\imagenes">
                        <input type="file" name="imagen" />
                    </form>
                </div>

            </td>

            <td>
                <div class="">
                    <div class="ms-0">
                        <label class="description" for="element_5">Fecha desparasitación (dd/mm/aaaa) </label>
                        <div>
                            <input id="element_5" name="element_5" class="element text medium" type="text"
                                maxlength="255" value="">
                        </div>

                        <label class="description" for="element_6">Fecha vacuna rabia(dd/mm/aaaa) </label>
                        <div>
                            <input id="element_6" name="element_6" class="element text medium" type="text"
                                maxlength="255" value="">
                        </div>
                        <div>
                        <label class="description" for="element_8">Castrado </label>
                        <span>
                            <select class="element select medium" id="element_8" name="element_8">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>


                    </div>
                    <div>

                        <label class="description" for="element_9">Leishmaniasis </label>
                        <span>
                            <select class="element select medium" id="element_9" name="element_9">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <label class="description" for="element_10">Pendiente operar </label>
                        <span>
                            <select class="element select medium" id="element_10" name="element_10">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>
                    </div>
                    
                        <input type="hidden" name="form_id" value="40616">

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <input class="btn btn-success mb-2" id="saveForm" type="submit" name="submit" value="Guardar datos"
                (click)="cerrarFormulario()">
        </tr>
    </tbody>
</form>
<!-- FIN Formulario modificar datos -->

<!-- Formulario añadir peludo -->
<form class="table table-hover align-left mb-0 bg-white" *ngIf="aniadir == true">
    <thead class="bg-black">
        <tr>
            <th>Añade los datos del perrete</th>
            <th>Añade los datos medicos</th>
            <th><button class="btn btn-danger mb-2" (click)="cerrarFormulario()">Cerrar formulario sin guardar</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <div class="">
                    <label class="description" for="element_1">Nombre </label>
                    <div>
                        <input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_2">Raza </label>
                    <div>
                        <input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_3">Chip </label>
                    <div>
                        <input id="element_3" name="element_3" class="element text small" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_4">Ubicación </label>
                    <div>
                        <input id="element_4" name="element_4" class="element text small" type="text" maxlength="255"
                            value="">
                    </div>

                    <label class="description" for="element_7">Licencia </label>
                    <div>
                        <div>

                            <select class="element select medium" id="element_7" name="element_7">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </div>
                    </div>
                    <label class="description" for="element_5">Fecha nacimiento (dd/mm/aaaa) </label>
                    <div>
                        <input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255"
                            value="">
                    </div>
                    <label class="description" for="element_10">Foto </label>
                    <form name="subida-imagenes" type="POST" enctype="src\app\assets\imagenes">
                        <input type="file" name="imagen" />
                    </form>
                </div>

            </td>

            <td>
                <div class="">
                    <div class="ms-0">
                        <label class="description" for="element_5">Fecha desparasitación (dd/mm/aaaa) </label>
                        <div>
                            <input id="element_5" name="element_5" class="element text medium" type="text"
                                maxlength="255" value="">
                        </div>

                        <label class="description" for="element_6">Fecha vacuna rabia(dd/mm/aaaa) </label>
                        <div>
                            <input id="element_6" name="element_6" class="element text medium" type="text"
                                maxlength="255" value="">
                        </div>
                        <div>
                        <label class="description" for="element_8">Castrado </label>
                        <span>
                            <select class="element select medium" id="element_8" name="element_8">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>


                    </div>
                    <div>

                        <label class="description" for="element_9">Leishmaniasis </label>
                        <span>
                            <select class="element select medium" id="element_9" name="element_9">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <label class="description" for="element_10">Pendiente operar </label>
                        <span>
                            <select class="element select medium" id="element_10" name="element_10">
                                <option value="" selected="selected"></option>
                                <option >Si</option>
                                <option >No</option>
                            </select>
                        </span>
                    </div>
                    
                        <input type="hidden" name="form_id" value="40616">

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <input class="btn btn-success mb-2" id="saveForm" type="submit" name="submit" value="Guardar datos"
                (click)="cerrarAniadir()">
        </tr>
    </tbody>
</form>
<!-- FIN Formulario añadir peludo -->
<!-- Formulario quitar peludo -->
<form class="table table-hover align-left mb-0 bg-white" *ngIf="quitar == true">
    <thead class="bg-black">
        <tr>
            <th>Selecciona el perrete a quitar</th>
            <th></th>
            <th><button class="btn btn-danger mb-2" (click)="cerrarFormulario()">Cerrar formulario sin guardar</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>
                <div class="">

                    <label class="description" for="element_1">Nombre </label>
                    <div>

                        <select class="element select medium" id="element_1" name="element_1">
                            <option value="" selected="selected"></option>
                            <option *ngFor="let peludo of datos">{{peludo.nombre}}</option>
                        </select>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <input class="btn btn-success mb-2" id="saveForm" type="submit" name="submit" value="Guardar datos"
                (click)="cerrarFormulario()">
        </tr>
    </tbody>
</form>
<!-- FIN Formulario quitar peludo -->
